@model ParxlabAVM.Models.cihaz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cihaz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.parkyeri.parkadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parkyeri.parkadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cihazdurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cihazdurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enlem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enlem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boylam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boylam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cihazid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
