

@{
    ViewBag.Title = "Parxlab";
}




<!-- Giriş Sayfası Verileri -->
<div class="row row-sm">
    <div class="col-sm-6 col-xl-3">
        <div class="bg-info rounded overflow-hidden">
            <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Bugünkü Araç Sayısı</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.bugunkuAracSayisi</p>
                    <span class="tx-11 tx-roboto tx-white-8">Dünkü: @ViewBag.dunkuAracSayisi</span>
                </div>
            </div>
            <div id="ch1" class="ht-50 tr-y-1"></div>
        </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
        <div class="bg-purple rounded overflow-hidden">
            <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Toplam Park Süresi</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.toplamParkSuresi</p>
                    <span class="tx-11 tx-roboto tx-white-8">Dünkü: @ViewBag.dunkuToplamParkSuresi</span>
                </div>
            </div>
            <div id="ch3" class="ht-50 tr-y-1"></div>
        </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-teal rounded overflow-hidden">
            <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Ortalama Park Süresi</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.ortalamaParkSuresi</p>
                    <span class="tx-11 tx-roboto tx-white-8">Dünkü: @ViewBag.dunkuOrtalamaParkSuresi</span>
                </div>
            </div>
            <div id="ch2" class="ht-50 tr-y-1"></div>
        </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-primary rounded overflow-hidden">
            <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Anlık Doluluk Oranı</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">%@ViewBag.anlikDoluluk</p>
                    <span class="tx-11 tx-roboto tx-white-8">Dünkü: %@ViewBag.dunkuAnlikDoluluk</span>
                </div>
            </div>
            <div id="ch4" class="ht-50 tr-y-1"></div>
        </div>
    </div><!-- col-3 -->
</div><!-- row -->
<!-- Harita -->
<div class="row row-sm mg-t-20">
    <div class="col-lg-12">
        <div class="card shadow-base bd-0 pd-25 mg-t-20 mg-b-20">


            @*<iframe id="map" class="ht-300 ht-sm-400 pd-25" src="http://www.gmapgis.com/viewer.htm?xaNMOvNWgr.gmp" ></iframe>*@


            <div id="map" class="ht-300 ht-sm-400 pd-25"></div>



        </div><!-- card -->


    </div><!-- col-8 -->

</div><!-- row -->
