@model ParxlabAVM.Models.anatablo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>anatablo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cihaz.cihazid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cihaz.cihazid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firma.firmaadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma.firmaadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parkyeri.parkadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parkyeri.parkadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giriszamani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giriszamani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cikiszamani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cikiszamani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aracplakasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aracplakasi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.anatabloid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
